# Dependencies
vendor

# Eclipse files
.settings
.project
.buildpath

# Runtime files
var/cache
var/logs
web/var

# Test files
sandbox
src/MyApp
web/index.php
config/db.yml
views/home.twig
logs
web/var/images/wiki
