div.user-deletion {
	border-bottom: none;
	vertical-align: middle;
	display: inline;
}

div.user-deletion p {
	margin-left: 1em;
}

div.user-deletion img {
	max-width: 56px;
}

td.user img {
    margin-right: 10px;
}