        <div class="navbar">
            <div class="navbar-inner">
            {% block navBar %}
                <div class="container-fluid">
                    <a href="{{ path('admin_home') }}" class="brand">
                        <small>
                            <i class="icon-{{ page.app.icon }} {{ page.app.color }}"></i>
                            {{ page.app.name }}
                        </small>
                    </a><!--/.brand-->

                    <ul class="nav ace-nav pull-right">

                        {% for container in page.containers %}
                            {% include container.view with {'container': container, 'page': page} only %}
                        {% endfor %}
                        
                    </ul><!--/.ace-nav-->
                </div><!--/.container-fluid-->
                {% endblock %}
            </div><!--/.navbar-inner-->
        </div>
