{% extends 'layouts/admin.twig' %}

{% block contentHeader %}
TODO List
{% endblock %}

{% block content %}
<ul>
    <li>Finish user form</li>
    <li>CRUD user</li>
    <li>class NotificationContainer</li>
    <li>active dans le menu</li>
    <li>Translation</li>
</ul>
{% endblock %}